.Details {
  &_title {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  &_list_infos li {
    margin-bottom: 10px;
  }

  &_involved_list li {
    margin-bottom: 10px;
  }
}